<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon" />
    <title>Invited Speakers | 2020 Annual Meeting of Taiwanese Mathematical Society - Fu Jen Catholic University</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180555058-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-180555058-1');
    </script>
</head>
<body>
    <header id="header">
        <nav>
            <!-- <div class="logo">
                <img src="img/TMS_logo_v3.png" alt="" height="36">    
            </div> -->
            <my-nav class="navbar-pc"></my-nav>
            <button class="navbar-toggle-open">
                <div class="navbar-toggle-line-set">
                    <div class="navbar-toggle-line"></div>
                    <div class="navbar-toggle-line"></div>
                    <div class="navbar-toggle-line"></div>    
                </div>
                
            </button>
            <button class="navbar-toggle-close">
                <div class="navbar-toggle-line-set">
                    <div class="navbar-toggle-line"></div>
                    <div class="navbar-toggle-line"></div>   
                </div>
            </button>
            
        </nav>
        <my-nav class="navbar-mobile"></my-nav>
    </header>
    <section class="top-btn">
        <a href="#">
            <div class="arrow"></div>
        </a>
    </section>
    <section class="home-btn">
        <a href="index.html">
            <img src="img/house.svg" alt="" width="35" height="30">
        </a>
    </section>
    <section class="banner banner-side">
        <div class="container">
            <div class="banner-content">
                <div class="banner-center">
                    <img src="img/rainbow.svg" alt="">
                    <h1>Invited Speakers</h1>   
                </div>
            </div>    
        </div>
    </section>
    <section id="speakers" class="main">
        <div class="container">
            <div class="main-content">
                <div class="main-text">
                    <h2>Plenary Speakers</h2>
                    <div class="main-speakers" v-for="item2 in items2">
                        <div class="photo" v-bind:style="{'background-image': 'url(' + item2.photo + ')'}"></div>
                        <div class="content">
                            <h3>{{item2.name}}</h3>
                            <p v-if="item2.unit !=''">Affiliation: {{item2.unit}}</p>
                            <p v-if="item2.study !=''">Fields: {{item2.study}}</p>
                            <p v-if="item2.unit =='' && item2.study ==''"></p>
                        </div>
                    </div>
                </div>
                <div class="main-text">
                    <h2>Special Lecture</h2>
                    <div class="main-speakers">
                        <div class="photo" style="background-image: url('img/Chang.jpg');"></div>
                        <div class="content">
                            <h3>Ching-Ray Chang</h3>
                            <p>Affiliation：IBM Q Hub at National Taiwan University</p>
                        </div>
                    </div>
                </div>
                <div class="main-text" v-for="item in items">
                    <h2>{{item.title}}</h2>
                    <div class="table-center">
                        <p class="organizer">{{item.organizer}}</p>
                        <table class="table-speakers">
                            <tr>
                                <th>Names</th>
                                <th>Affiliation</th>
                            </tr>
                            <tr v-for="speaker in item.speakers">
                                <td>{{speaker.name}}</td>
                                <td>{{speaker.unit}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>    
        </div>
    </section>
    <footer id="footer">
        <div class="container">
            <my-footer></my-footer>
        </div>
    </footer>

    <!-- javascript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>