<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon" />
    <title>議程表 | 2020年中華民國數學年會 - 輔仁大學</title>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "2020年中華民國數學年會",
            "item": "http://tms2020.math.fju.edu.tw/"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "議程表",
            "item": "http://tms2020.math.fju.edu.tw/program.html"
          }]
        }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180555058-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-180555058-1');
    </script>
</head>
<body>
    <header id="header">
        <nav>
            <!-- <div class="logo">
                <img src="img/TMS_logo_v3.png" alt="" height="36">    
            </div> -->
            <my-nav class="navbar-pc"></my-nav>
            <button class="navbar-toggle-open">
                <div class="navbar-toggle-line-set">
                    <div class="navbar-toggle-line"></div>
                    <div class="navbar-toggle-line"></div>
                    <div class="navbar-toggle-line"></div>    
                </div>
                
            </button>
            <button class="navbar-toggle-close">
                <div class="navbar-toggle-line-set">
                    <div class="navbar-toggle-line"></div>
                    <div class="navbar-toggle-line"></div>   
                </div>
            </button>
            
        </nav>
        <my-nav class="navbar-mobile"></my-nav>
    </header>
    <section class="top-btn">
        <a href="#">
            <div class="arrow"></div>
        </a>
    </section>
    <section class="home-btn">
        <a href="index.html">
            <img src="img/house.svg" alt="" width="35" height="30">
        </a>
    </section>
    <section class="banner banner-side">
        <div class="container">
            <div class="banner-content">
                <div class="banner-center">
                    <img src="img/rainbow.svg" alt="">
                    <h1>議程表</h1>
                    <h2>Program</h2>   
                </div>
            </div>    
        </div>
    </section>
    <section id="program" class="main">
        <div class="container">
            <div class="main-content">
                <div class="main-text main-text-lg" style="box-sizing:border-box;">
                    <!-- <div class="program-btn">
                        <button v-on:click ="currentTab = mainPage">{{mainPage}}</button><button v-for="item in items" v-bind:key="item.name" v-on:click= "currentTab = item">{{item.name}}</button>
                    </div> -->
                    <div class="program-top">
                        <a href="doc/2020數學年會議程表109.11.16.pdf" target="_blank">
                            <img src="img/download.png" alt="" width="30" height="30">
                            <p>年會議程表pdf版</p>
                        </a>
                        <select v-model="currentTab" class="program-select">
                            <option v-bind:value="mainPage">選擇類別</option>
                            <option v-bind:value="mainPage">{{mainPage}}</option>
                            <option v-for="item in items" v-bind:value="item.name">{{item.name}}</option>
                        </select>    
                    </div>
                    
                    <template v-if="currentTab == mainPage">
                        <h2>{{mainPage}}</h2>
                        <div style="overflow-x: scroll;">
                            <table class="table-program-1">
                                <tr style="background-color: #F8CBAD;">
                                    <td colspan="12" style="text-align: left; padding-left: 12px; font-weight: bold;">2020 年 12 月 5 日(星期六)</td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">領域</td>
                                    <td v-for="(item,index) in items" style="font-weight: bold;" v-bind:style="index % 2 == 0 ? {'background-color': '#e2efda'} : {'background-color': 'transparent'} ">{{item.name}}</td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">教室</td>
                                    <td v-for="(item,index) in items" style="color: #ff0000; font-weight: bold;" v-bind:style="index % 2 == 0 ? {'background-color': '#e2efda'} : {'background-color': 'transparent'} " v-html="item.address"></td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">08:30 - 09:30</td>
                                    <td colspan="11" style="position: relative;">
                                        <p style="font-weight: bold;">報到註冊</p>
                                        <p style="font-weight: bold; color: #ff0000; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">耕莘樓大廳</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">09:30 - 10:00</td>
                                    <td colspan="11" style="background-color: #B4C6E7; position: relative;">
                                        <p style="font-weight: bold;">年會開幕式</p>
                                        <p style="font-weight: bold;">主持人：李瑩英(理事長)</p>
                                        <p style="font-weight: bold; color: #ff0000; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">LH108<br>理工綜合教室</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">10:00 - 10:50</td>
                                    <td colspan="11" style="background-color: #B4C6E7; position: relative;">
                                        <p style="font-weight: bold;">大會演講 蕭美琪 教授 (線上視訊研討)</p>
                                        <p style="font-weight: bold;">主持人：李瑩英(理事長)</p>
                                        <p style="font-weight: bold; color: #ff0000; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">LH108<br>理工綜合教室</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">10:50 - 11:05</td>
                                    <td colspan="11" style="font-weight: bold;">團體照</td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">11:05 - 11:20</td>
                                    <td colspan="11" style="position: relative;">
                                        <p style="font-weight: bold;">茶會</p>
                                        <p style="font-weight: bold; color: #ff0000; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">LH108<br>理工綜合教室</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">11:20 - 12:05</td>
                                    <td v-for="(item,index) in items" v-bind:style="index % 2 == 0 ? {'background-color': '#e2efda'} : {'background-color': 'transparent'} "> 
                                        <p v-if="item.topic[0].host == ''">***</p>
                                        <template v-else>
                                            <p>主持人：<span>{{item.topic[0].host}}</span></p>
                                            <p>演講者：<span style="font-weight: bold; color: #0000ff">{{item.topic[0].speaker}}</span></p>    
                                        </template>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2" style="background-color: #D9E1F2; font-weight: bold;">12:05 - 14:00</td>
                                    <td colspan="11" style="position: relative;">
                                        <p style="font-weight: bold;">午餐</p>
                                        <p style="font-weight: bold; color: #ff0000; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">LH108<br>理工綜合教室</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="11" style="background-color: #fff2cc; position: relative;">
                                        <p style="font-weight: bold; color: #ff0000; font-weight: bold;">12:20-13:50</p>
                                        <p style="font-weight: bold;">教育議題論壇</p>
                                        <p style="font-weight: bold; color: #ff0000; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">LH108<br>理工綜合教室</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">13:35 - 14:00</td>
                                    <td v-for="(item,index) in items" v-bind:style="index % 2 == 0 ? {'background-color': '#e2efda'} : {'background-color': 'transparent'} " v-bind:rowspan="item.topic[1].rowspan">
                                        <p style="color: #ff0000;">{{item.topic[1].time}}</p>
                                        <p v-if="item.topic[1].host == ''">***</p>
                                        <template v-else>
                                            <p>主持人：<span>{{item.topic[1].host}}</span></p>
                                            <p>演講者：<span style="font-weight: bold; color: #0000ff" v-html="item.topic[1].speaker"></span></p>    
                                        </template>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">14:00 - 14:25</td>
                                    <td v-for="(item,index) in items" v-bind:style="index % 2 == 0 ? {'background-color': '#e2efda'} : {'background-color': 'transparent'} " v-if="item.topic[2].rowspan != 0">
                                        <p v-if="item.topic[2].host == ''">***</p>
                                        <template v-else>
                                            <p>主持人：<span>{{item.topic[2].host}}</span></p>
                                            <p>演講者：<span style="font-weight: bold; color: #0000ff">{{item.topic[2].speaker}}</span></p>    
                                        </template>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">14:25 - 14:50 </td>
                                    <td v-for="(item,index) in items" v-bind:style="index % 2 == 0 ? {'background-color': '#e2efda'} : {'background-color': 'transparent'} ">
                                        <p v-if="item.topic[3].host == ''">***</p>
                                        <template v-else>
                                            <p>主持人：<span>{{item.topic[3].host}}</span></p>
                                            <p>演講者：<span style="font-weight: bold; color: #0000ff">{{item.topic[3].speaker}}</span></p>    
                                        </template>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">14:50 - 15:00</td>
                                    <td colspan="11" style="font-weight: bold;">中場休息</td>
                                </tr>
                                <tr style="background-color: #fff2cc;">
                                    <td style="font-weight: bold; background-color: #D9E1F2;">15:00 - 15:45</td>
                                    <td colspan="11" style="position: relative;">
                                        <p style="font-weight: bold;">專題演講 臺灣大學-IBM量子電腦中心主任 張慶瑞教授</p>
                                        <p style="font-weight: bold;">主持人：陳宜良 教授</p>
                                        <p style="font-weight: bold; color: #ff0000; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">LH108<br>理工綜合教室</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">15:45 - 16:00</td>
                                    <td colspan="11" style="position: relative;">
                                        <p style="font-weight: bold;">茶會</p>
                                        <p style="font-weight: bold; color: #ff0000; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">LH108<br>理工綜合教室</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">16:00 - 16:50</td>
                                    <td colspan="11" style="background-color: #B4C6E7; position: relative;">
                                        <p style="font-weight: bold;">大會演講 李元斌 教授</p>
                                        <p style="font-weight: bold;">主持人：鄭日新</p>
                                        <p style="font-weight: bold; color: #ff0000; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">LH108<br>理工綜合教室</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">16:50 - 18:10</td>
                                    <td colspan="11" style="position: relative;">
                                        <p style="font-weight: bold;">會員大會暨頒獎典禮</p>
                                        <p style="font-weight: bold; color: #ff0000; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">LH108<br>理工綜合教室</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">18:30</td>
                                    <td colspan="11" style="font-weight: bold;">晚宴</td>
                                </tr>
                            </table>    
                        </div>
                        
                        <br><br>
                        <div style="overflow-x: scroll;">
                            <table class="table-program-1">
                                <tr style="background-color: #F8CBAD;">
                                    <td colspan="12" style="text-align: left; padding-left: 12px; font-weight: bold;">2020 年 12 月 6 日(星期日)</td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">領域</td>
                                    <td v-for="(item,index) in items" style="font-weight: bold;" v-bind:style="index % 2 == 0 ? {'background-color': '#e2efda'} : {'background-color': 'transparent'} ">{{item.name}}</td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">教室</td>
                                    <td v-for="(item,index) in items" style="font-weight: bold; color: #ff0000;" v-bind:style="index % 2 == 0 ? {'background-color': '#e2efda'} : {'background-color': 'transparent'} " v-html="item.address"></td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">08:30 - 09:00</td>
                                    <td colspan="11" style="position: relative;">
                                        <p style="font-weight: bold;">報到註冊</p>
                                        <p style="font-weight: bold; color: #ff0000; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">耕莘樓大廳</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">09:00 - 09:50</td>
                                    <td colspan="11" style="background-color: #B4C6E7; position: relative;">
                                        <p style="font-weight: bold;">大會演講 Wee-Teck Gan 教授 ( 線上視訊研討 )</p>
                                        <p style="font-weight: bold;">主持人：謝銘倫 教授</p>
                                        <p style="font-weight: bold; color: #ff0000; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">LH108<br>理工綜合教室</p>			
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">09:50 - 10:10</td>
                                    <td colspan="11" style="position: relative;">
                                        <p style="font-weight: bold;">茶會</p>
                                        <p style="font-weight: bold; color: #ff0000; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">LH108<br>理工綜合教室</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">10:10 - 10:55</td>
                                    <td v-for="(item,index) in items" v-bind:style="index % 2 == 0 ? {'background-color': '#e2efda'} : {'background-color': 'transparent'} " v-bind:rowspan="item.topic[4].rowspan">
                                        <p style="color: #ff0000;">{{item.topic[4].time}}</p>
                                        <p v-if="item.topic[4].host == ''">***</p>
                                        <template v-else>
                                            <p>主持人：<span>{{item.topic[4].host}}</span></p>
                                            <p>演講者：<span style="font-weight: bold; color: #0000ff" v-html="item.topic[4].speaker"></span></p>    
                                        </template>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">11:00 - 11:25</td>
                                    <td v-for="(item,index) in items" v-bind:style="index % 2 == 0 ? {'background-color': '#e2efda'} : {'background-color': 'transparent'} " v-if="item.topic[5].rowspan != 0">
                                        <p v-if="item.topic[5].host == ''">***</p>
                                        <template v-else>
                                            <p>主持人：<span>{{item.topic[5].host}}</span></p>
                                            <p>演講者：<span style="font-weight: bold; color: #0000ff">{{item.topic[5].speaker}}</span></p>    
                                        </template>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">11:25 - 11:50</td>
                                    <td v-for="(item,index) in items" v-bind:style="index % 2 == 0 ? {'background-color': '#e2efda'} : {'background-color': 'transparent'} " v-if="item.topic[6].rowspan != 0">
                                        <p v-if="item.topic[6].host == ''">***</p>
                                        <template v-else>
                                            <p>主持人：<span>{{item.topic[6].host}}</span></p>
                                            <p>演講者：<span style="font-weight: bold; color: #0000ff">{{item.topic[6].speaker}}</span></p>    
                                        </template>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">11:50 - 12:15</td>
                                    <td v-for="(item,index) in items" v-bind:style="index % 2 == 0 ? {'background-color': '#e2efda'} : {'background-color': 'transparent'} ">
                                        <p v-if="item.topic[7].host == ''">***</p>
                                        <template v-else>
                                            <p>主持人：<span>{{item.topic[7].host}}</span></p>
                                            <p>演講者：<span style="font-weight: bold; color: #0000ff">{{item.topic[7].speaker}}</span></p>    
                                        </template>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="3" style="background-color: #D9E1F2; font-weight: bold;">12:15 - 14:00</td>
                                    <td colspan="11" style="position: relative;">
                                        <p style="font-weight: bold;">午餐</p>
                                        <p style="font-weight: bold; color: #ff0000; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">LH108<br>理工綜合教室</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="11" style="background-color: #fff2cc; position: relative;">
                                        <p style="font-weight: bold; color: #ff0000; font-weight: bold;">12:15 - 13:45</p>
                                        <p style="font-weight: bold;">女數學人論壇</p>
                                        <p style="font-weight: bold; color: #ff0000; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">MA307<br>耕莘樓(3F)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="11" style="background-color: #fff2cc; position: relative;">
                                        <p style="font-weight: bold; color: #ff0000; font-weight: bold;">13:45 - 14:00</p>
                                        <p style="font-weight: bold;">茶會</p>
                                        <p style="font-weight: bold; color: #ff0000; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">MA413<br>耕莘樓(4F)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">14:00 - 14:25</td>
                                    <td v-for="(item,index) in items" v-bind:style="index % 2 == 0 ? {'background-color': '#e2efda'} : {'background-color': 'transparent'} ">
                                        <p v-if="item.topic[10].host == ''">***</p>
                                        <template v-else>
                                            <p>主持人：<span>{{item.topic[10].host}}</span></p>
                                            <p>演講者：<span style="font-weight: bold; color: #0000ff">{{item.topic[10].speaker}}</span></p>    
                                        </template>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">14:25 - 14:50</td>
                                    <td v-for="(item,index) in items" v-bind:style="index % 2 == 0 ? {'background-color': '#e2efda'} : {'background-color': 'transparent'} ">
                                        <p v-if="item.topic[11].host == ''">***</p>
                                        <template v-else>
                                            <p>主持人：<span>{{item.topic[11].host}}</span></p>
                                            <p>演講者：<span style="font-weight: bold; color: #0000ff">{{item.topic[11].speaker}}</span></p>    
                                        </template>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">14:50 - 15:15</td>
                                    <td v-for="(item,index) in items" v-bind:style="index % 2 == 0 ? {'background-color': '#e2efda'} : {'background-color': 'transparent'} ">
                                        <p v-if="item.topic[12].host == ''">***</p>
                                        <template v-else>
                                            <p>主持人：<span>{{item.topic[12].host}}</span></p>
                                            <p>演講者：<span style="font-weight: bold; color: #0000ff">{{item.topic[12].speaker}}</span></p>    
                                        </template>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #D9E1F2; font-weight: bold;">15:15</td>
                                    <td colspan="11" style="font-weight: bold;">賦歸</td>
                                </tr>
                            </table>
                        </div>
                        
                    </template>
                    <template v-for="item in items" v-if="item.name == currentTab">
                        <h2>{{item.name}}</h2>
                        <table class="table-program-2">
                            <tr style="background-color: #F8CBAD;">
                                <td colspan="2" style="font-weight: bold;">2020 年 12 月 5 日(星期六)</td>
                            </tr>
                            <tr>
                                <td style="background-color: #D9E1F2; font-weight: bold;">領域</td>
                                <td style="background-color: #e2efda; font-weight: bold;">{{item.name}}</td>
                            </tr>
                            <tr>
                                <td style="background-color: #D9E1F2; font-weight: bold;">教室</td>
                                <td style="font-weight: bold; background-color: #e2efda; color: #ff0000;" v-html="item.address"></td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; background-color: #D9E1F2;">08:30 - 09:30</td>
                                <td>
                                    <p style="font-weight: bold;">報到註冊</p>
                                    <p style="font-weight: bold; color: #ff0000;">耕莘樓大廳</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; background-color: #D9E1F2;">09:30 - 10:00</td>
                                <td style="background-color: #B4C6E7;">
                                    <p style="font-weight: bold;">年會開幕式</p>
                                    <p style="font-weight: bold;">主持人：李瑩英(理事長)</p>
                                    <p style="font-weight: bold; color: #ff0000;">LH108<br>理工綜合教室</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; background-color: #D9E1F2;">10:00 - 10:50</td>
                                <td style="background-color: #B4C6E7;">
                                    <p style="font-weight: bold;">大會演講 蕭美琪 教授 (線上視訊研討)</p>
                                    <p style="font-weight: bold;">主持人：李瑩英(理事長)</p>
                                    <p style="font-weight: bold; color: #ff0000;">LH108<br>理工綜合教室</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; background-color: #D9E1F2;">10:50 - 11:05</td>
                                <td style="font-weight: bold;">團體照</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; background-color: #D9E1F2;">11:05 - 11:20</td>
                                <td>
                                    <p style="font-weight: bold;">茶會</p>
                                    <p style="font-weight: bold; color: #ff0000;">LH108<br>理工綜合教室</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; background-color: #D9E1F2;">11:20 - 12:05</td>
                                <td style="background-color: #e2efda;">
                                    <p v-if="item.topic[0].host == ''">***</p>
                                    <template v-else>
                                        <p>主持人：<span>{{item.topic[0].host}}</span></p>
                                        <p>演講者：<span style="font-weight: bold; color: #0000ff">{{item.topic[0].speaker}}</span></p>    
                                    </template>
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="2" style="font-weight: bold; background-color: #D9E1F2;">12:05 - 14:00</td>
                                <td style="background-color: #fff2cc;">
                                    <p style="font-weight: bold;">午餐</p>
                                    <p style="font-weight: bold; color: #ff0000;">LH108<br>理工綜合教室</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color: #fff2cc;">
                                    <p style="font-weight: bold; color: #ff0000;">12:20-13:50</p>
                                    <p style="font-weight: bold;">教育議題論壇</p>
                                    <p style="font-weight: bold; color: #ff0000;">LH108<br>理工綜合教室</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; background-color: #D9E1F2;">13:35 - 14:00</td>
                                <td style="background-color: #e2efda;" v-bind:rowspan="item.topic[1].rowspan">
                                    <p style="color: #ff0000;">{{item.topic[1].time}}</p>
                                    <p v-if="item.topic[1].host == ''">***</p>
                                    <template v-else>
                                        <p>主持人：<span>{{item.topic[1].host}}</span></p>
                                        <p>演講者：<span style="font-weight: bold; color: #0000ff" v-html="item.topic[1].speaker"></span></p>    
                                    </template>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; background-color: #D9E1F2;">14:00 - 14:25</td>
                                <td style="background-color: #e2efda;" v-if="item.topic[2].rowspan != 0">
                                    <p v-if="item.topic[2].host == ''">***</p>
                                    <template v-else>
                                        <p>主持人：<span>{{item.topic[2].host}}</span></p>
                                        <p>演講者：<span style="font-weight: bold; color: #0000ff">{{item.topic[2].speaker}}</span></p>    
                                    </template>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; background-color: #D9E1F2;">14:25 - 14:50 </td>
                                <td style="background-color: #e2efda;">
                                    <p v-if="item.topic[3].host == ''">***</p>
                                    <template v-else>
                                        <p>主持人：<span>{{item.topic[3].host}}</span></p>
                                        <p>演講者：<span style="font-weight: bold; color: #0000ff">{{item.topic[3].speaker}}</span></p>    
                                    </template>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; background-color: #D9E1F2;">14:50 - 15:00</td>
                                <td style="font-weight: bold;">中場休息</td>
                            </tr>
                            <tr style="background-color: #fff2cc;">
                                <td style="font-weight: bold; background-color: #D9E1F2;">15:00 - 15:45</td>
                                <td>
                                    <p style="font-weight: bold;">專題演講 臺灣大學-IBM量子電腦中心主任 張慶瑞教授</p>
                                    <p style="font-weight: bold;">主持人：陳宜良 教授</p>
                                    <p style="font-weight: bold; color: #ff0000;">LH108<br>理工綜合教室</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; background-color: #D9E1F2;">15:45 - 16:00</td>
                                <td>
                                    <p style="font-weight: bold;">茶會</p>
                                    <p style="font-weight: bold; color: #ff0000;">LH108<br>理工綜合教室</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; background-color: #D9E1F2;">16:00 - 16:50</td>
                                <td style="background-color: #B4C6E7;">
                                    <p style="font-weight: bold;">大會演講 李元斌 教授</p>
                                    <p style="font-weight: bold;">主持人：鄭日新</p>
                                    <p style="font-weight: bold; color: #ff0000;">LH108<br>理工綜合教室</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; background-color: #D9E1F2;">16:50 - 18:10</td>
                                <td>
                                    <p style="font-weight: bold;">會員大會暨頒獎典禮</p>
                                    <p style="font-weight: bold; color: #ff0000;">LH108<br>理工綜合教室</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; background-color: #D9E1F2;">18:30</td>
                                <td style="font-weight: bold;">晚宴</td>
                            </tr>
                        </table>
                        <br><br>
                        <table class="table-program-2">
                            <tr style="background-color: #F8CBAD;">
                                <td colspan="2" style="font-weight: bold;">2020 年 12 月 6 日(星期日)</td>
                            </tr>
                            <tr>
                                <td style="background-color: #D9E1F2; font-weight: bold;">領域</td>
                                <td style="background-color: #e2efda; font-weight: bold;">{{item.name}}</td>
                            </tr>
                            <tr>
                                <td style="background-color: #D9E1F2; font-weight: bold;">教室</td>
                                <td style="font-weight: bold; background-color: #e2efda; color: #ff0000;" v-html="item.address"></td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; background-color: #D9E1F2;">08:30 - 09:00</td>
                                <td>
                                    <p style="font-weight: bold;">報到註冊</p>
                                    <p style="font-weight: bold; color: #ff0000;">耕莘樓大廳</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; background-color: #D9E1F2;">09:00 - 09:50</td>
                                <td style="background-color: #B4C6E7;">
                                    <p style="font-weight: bold;">大會演講 Wee-Teck Gan 教授 ( 線上視訊研討 )</p>
                                    <p style="font-weight: bold;">主持人：謝銘倫 教授</p>
                                    <p style="font-weight: bold; color: #ff0000;">LH108<br>理工綜合教室</p>			
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; background-color: #D9E1F2;">09:50 - 10:10</td>
                                <td>
                                    <p style="font-weight: bold;">茶會</p>
                                    <p style="font-weight: bold; color: #ff0000;">LH108<br>理工綜合教室</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; background-color: #D9E1F2;">10:10 - 10:55</td>
                                <td style="background-color: #e2efda;" v-bind:rowspan="item.topic[4].rowspan">
                                    <p style="color: #ff0000;">{{item.topic[4].time}}</p>
                                    <p v-if="item.topic[4].host == ''">***</p>
                                    <template v-else>
                                        <p>主持人：<span>{{item.topic[4].host}}</span></p>
                                        <p>演講者：<span style="font-weight: bold; color: #0000ff" v-html="item.topic[4].speaker"></span></p>    
                                    </template>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; background-color: #D9E1F2;">11:00 - 11:25</td>
                                <td style="background-color: #e2efda;" v-if="item.topic[5].rowspan != 0">
                                    <p v-if="item.topic[5].host == ''">***</p>
                                    <template v-else>
                                        <p>主持人：<span>{{item.topic[5].host}}</span></p>
                                        <p>演講者：<span style="font-weight: bold; color: #0000ff">{{item.topic[5].speaker}}</span></p>    
                                    </template>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; background-color: #D9E1F2;">11:25 - 11:50</td>
                                <td style="background-color: #e2efda;" v-if="item.topic[5].rowspan != 0">
                                    <p v-if="item.topic[6].host == ''">***</p>
                                    <template v-else>
                                        <p>主持人：<span>{{item.topic[6].host}}</span></p>
                                        <p>演講者：<span style="font-weight: bold; color: #0000ff">{{item.topic[6].speaker}}</span></p>    
                                    </template>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; background-color: #D9E1F2;">11:50 - 12:15</td>
                                <td style="background-color: #e2efda;">
                                    <p v-if="item.topic[7].host == ''">***</p>
                                    <template v-else>
                                        <p>主持人：<span>{{item.topic[7].host}}</span></p>
                                        <p>演講者：<span style="font-weight: bold; color: #0000ff">{{item.topic[7].speaker}}</span></p>    
                                    </template>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="3" style="font-weight: bold; background-color: #D9E1F2;">12:15 - 14:00</td>
                                <td>
                                    <p style="font-weight: bold;">午餐</p>
                                    <p style="font-weight: bold; color: #ff0000;">LH108<br>理工綜合教室</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color: #fff2cc;">
                                    <p style="font-weight: bold; font-weight: bold; color: #ff0000;">12:15 - 13:45</p>
                                    <p style="font-weight: bold;">女數學人論壇</p>
                                    <p style="font-weight: bold; color: #ff0000;">MA307<br>耕莘樓(3F)</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color: #fff2cc;">
                                    <p style="font-weight: bold; font-weight: bold; color: #ff0000;">13:45 - 14:00</p>
                                    <p style="font-weight: bold;">茶會</p>
                                    <p style="font-weight: bold; color: #ff0000;">MA413<br>耕莘樓(4F)</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; background-color: #D9E1F2;">14:00 - 14:25</td>
                                <td style="background-color: #e2efda;">
                                    <p v-if="item.topic[10].host == ''">***</p>
                                    <template v-else>
                                        <p>主持人：<span>{{item.topic[10].host}}</span></p>
                                        <p>演講者：<span style="font-weight: bold; color: #0000ff">{{item.topic[10].speaker}}</span></p>    
                                    </template>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; background-color: #D9E1F2;">14:25 - 14:50</td>
                                <td style="background-color: #e2efda;">
                                    <p v-if="item.topic[11].host == ''">***</p>
                                    <template v-else>
                                        <p>主持人：<span>{{item.topic[11].host}}</span></p>
                                        <p>演講者：<span style="font-weight: bold; color: #0000ff">{{item.topic[11].speaker}}</span></p>    
                                    </template>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; background-color: #D9E1F2;">14:50 - 15:15</td>
                                <td style="background-color: #e2efda;">
                                    <p v-if="item.topic[12].host == ''">***</p>
                                    <template v-else>
                                        <p>主持人：<span>{{item.topic[12].host}}</span></p>
                                        <p>演講者：<span style="font-weight: bold; color: #0000ff">{{item.topic[12].speaker}}</span></p>    
                                    </template>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold; background-color: #D9E1F2;">15:15</td>
                                <td style="font-weight: bold;">賦歸</td>
                            </tr>
                        </table>
                    </template>
                </div>
            </div>    
        </div>
    </section>
    <footer id="footer">
        <div class="container">
            <my-footer></my-footer>
        </div>
    </footer>

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="js/main.min.js"></script>

</body>
</html>