<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon" />
    <title>邀請演講 | 2020年中華民國數學年會 - 輔仁大學</title>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "name": "2020年中華民國數學年會",
            "item": "http://tms2020.math.fju.edu.tw/"
          },{
            "@type": "ListItem",
            "position": 2,
            "name": "邀請演講",
            "item": "http://tms2020.math.fju.edu.tw/speakers.html"
          }]
        }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180555058-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-180555058-1');
    </script>
</head>
<body>
    <header id="header">
        <nav>
            <!-- <div class="logo">
                <img src="img/TMS_logo_v3.png" alt="" height="36">    
            </div> -->
            <my-nav class="navbar-pc"></my-nav>
            <button class="navbar-toggle-open">
                <div class="navbar-toggle-line-set">
                    <div class="navbar-toggle-line"></div>
                    <div class="navbar-toggle-line"></div>
                    <div class="navbar-toggle-line"></div>    
                </div>
                
            </button>
            <button class="navbar-toggle-close">
                <div class="navbar-toggle-line-set">
                    <div class="navbar-toggle-line"></div>
                    <div class="navbar-toggle-line"></div>   
                </div>
            </button>
            
        </nav>
        <my-nav class="navbar-mobile"></my-nav>
    </header>
    <section class="top-btn">
        <a href="#">
            <div class="arrow"></div>
        </a>
    </section>
    <section class="home-btn">
        <a href="index.html">
            <img src="img/house.svg" alt="" width="35" height="30">
        </a>
    </section>
    <section class="banner banner-side">
        <div class="container">
            <div class="banner-content">
                <div class="banner-center">
                    <img src="img/rainbow.svg" alt="">
                    <h1>邀請演講</h1>
                    <h2>Invited Speakers</h2>   
                </div>
            </div>    
        </div>
    </section>
    <section id="speakers" class="main">
        <div class="container">
            <div class="main-content">
                <div class="main-text">
                    <h2>大會主講</h2>
                    <div class="main-speakers" v-for="item2 in items2">
                        <div class="photo" v-bind:style="{'background-image': 'url(' + item2.photo + ')'}"></div>
                        <div class="content">
                            <h3>{{item2.name}}</h3>
                            <p v-if="item2.unit !=''">單位：{{item2.unit}}</p>
                            <p v-if="item2.study !=''">領域：{{item2.study}}</p>
                            <p v-if="item2.unit =='' && item2.study ==''">待定</p>
                        </div>
                    </div>
                </div>
                <div class="main-text">
                    <h2>專題演講</h2>
                    <div class="main-speakers">
                        <div class="photo" style="background-image: url('img/Chang.jpg');"></div>
                        <div class="content">
                            <h3>張慶瑞</h3>
                            <p>單位：臺灣大學 IBM量子電腦中心主任</p>
                        </div>
                    </div>
                </div>
                <div class="main-text" v-for="item in items">
                    <h2>{{item.title}}</h2>
                    <div class="table-center">
                        <p class="organizer">{{item.organizer}}</p>
                        <table class="table-speakers">
                            <tr>
                                <th>姓名</th>
                                <th>單位</th>
                            </tr>
                            <tr v-for="speaker in item.speakers">
                                <td>{{speaker.name}}</td>
                                <td>{{speaker.unit}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>    
        </div>
    </section>
    <footer id="footer">
        <div class="container">
            <my-footer></my-footer>
        </div>
    </footer>

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="js/main.min.js"></script>

</body>
</html>