head, body {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #cccccc;
  overflow-x: hidden;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

@media (max-width: 768px) {
  p {
    font-size: 16px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: calc( 100% - 48px);
  max-width: 960px;
}

h2 {
  font-size: 24px;
}

header {
  background-color: #3D74B9;
  -webkit-box-shadow: 0px 1px 8px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 1px 8px rgba(255, 255, 255, 0.3);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #ffffff;
}

header nav .navbar-pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: none;
      align-content: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #ffffff;
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 0;
  margin-left: 8px;
}

header nav .navbar-pc a {
  text-decoration: none;
  color: #ffffff;
  padding: 16px 12px;
}

header nav .navbar-pc a li {
  font-size: 16px;
  border-bottom: 2px solid #3D74B9;
}

header nav .navbar-pc a:hover li {
  border-bottom: 2px solid #E2943B;
  color: #E2943B;
}

header nav .navbar-pc .language li {
  background-color: #E2943B;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 8px;
  border-radius: 40px;
}

header nav .navbar-pc .language:hover li {
  border: 0px solid #E2943B;
  color: #ffffff;
  background-color: #1F499D;
}

header nav .navbar-toggle-open {
  width: 60px;
  height: 60px;
  border: 0;
  background-color: rgba(61, 116, 185, 0.9);
  position: relative;
  z-index: 1000;
  cursor: pointer;
  display: none;
}

header nav .navbar-toggle-open .navbar-toggle-line-set {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header nav .navbar-toggle-open .navbar-toggle-line-set .navbar-toggle-line {
  width: 32px;
  height: 2px;
  background-color: #ffffff;
  margin: 8px 0;
}

header nav .navbar-toggle-close {
  background-color: #3D74B9;
  border: 0;
  height: 60px;
  width: 60px;
  position: relative;
  z-index: 1000;
  cursor: pointer;
  display: none;
}

header nav .navbar-toggle-close .navbar-toggle-line-set {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header nav .navbar-toggle-close .navbar-toggle-line-set .navbar-toggle-line {
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

header nav .navbar-toggle-close .navbar-toggle-line-set .navbar-toggle-line:last-child {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  position: absolute;
  top: 0;
  left: 0;
}

header .navbar-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: none;
      align-content: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 60px;
  display: none;
}

header .navbar-mobile a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc( (100% - 24px) / 2);
  text-decoration: none;
  color: #ffffff;
  padding-right: 8px;
}

header .navbar-mobile a li {
  width: 100px;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  padding: 12px;
  padding-bottom: 2px;
}

header .navbar-mobile a:nth-child(even) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 8px;
}

header .navbar-mobile a:hover {
  background-color: #ffffff;
  color: #3D74B9;
}

@media (max-width: 1200px) {
  header {
    background-color: transparent;
    -webkit-box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3);
            box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3);
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header nav .logo {
    margin-right: calc( (100% - 172px) / 2);
    margin-top: 12px;
    display: none;
  }
  header nav .navbar-pc {
    display: none;
  }
  header nav .navbar-toggle-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.banner {
  background-image: url("../img/bg4.svg");
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 520px;
  margin-top: 52px;
}

.banner .container {
  position: relative;
}

@-webkit-keyframes motionInfinite {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
  }
}

@keyframes motionInfinite {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
  }
}

@-webkit-keyframes motionUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-280px);
    transform: translateY(-280px);
    -moz-transform: translateY(-280px);
    -ms-transform: translateY(-280px);
  }
}

@keyframes motionUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-280px);
    transform: translateY(-280px);
    -moz-transform: translateY(-280px);
    -ms-transform: translateY(-280px);
  }
}

@-webkit-keyframes motionInfinite2 {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
  }
}

@keyframes motionInfinite2 {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
  }
}

@-webkit-keyframes motionUp2 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
  }
}

@keyframes motionUp2 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
  }
}

@-webkit-keyframes motionInfinite3 {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
  }
}

@keyframes motionInfinite3 {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
  }
}

@-webkit-keyframes motionUp3 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-320px);
    transform: translateY(-320px);
    -moz-transform: translateY(-320px);
    -ms-transform: translateY(-320px);
  }
}

@keyframes motionUp3 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-320px);
    transform: translateY(-320px);
    -moz-transform: translateY(-320px);
    -ms-transform: translateY(-320px);
  }
}

@-webkit-keyframes motionInfinite4 {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
  }
}

@keyframes motionInfinite4 {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
  }
}

@-webkit-keyframes motionUp4 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-240px);
    transform: translateY(-240px);
    -moz-transform: translateY(-240px);
    -ms-transform: translateY(-240px);
  }
}

@keyframes motionUp4 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-240px);
    transform: translateY(-240px);
    -moz-transform: translateY(-240px);
    -ms-transform: translateY(-240px);
  }
}

.banner .container .banner-bottom {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 15%;
  bottom: 0;
  -webkit-animation: motionInfinite 1s 2s infinite ease-in-out alternate forwards;
  animation: motionInfinite 1s 2s infinite ease-in-out alternate forwards;
}

.banner .container .banner-bottom:before {
  content: '';
  width: 80px;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 15%;
  background-image: url("../img/balloon1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-animation: motionUp2 2s 1 ease-in-out alternate both;
  animation: motionUp2 2s 1 ease-in-out alternate both;
}

.banner .container .banner-bottom2 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-animation: motionInfinite2 1s 2.5s infinite ease-in-out alternate forwards;
  animation: motionInfinite2 1s 2.5s infinite ease-in-out alternate forwards;
}

.banner .container .banner-bottom2:before {
  content: '';
  width: 80px;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../img/balloon2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-animation: motionUp 2s 0.5s 1 ease-in-out alternate both;
  animation: motionUp 2s 0.5s 1 ease-in-out alternate both;
}

.banner .container .banner-bottom3 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 82%;
  bottom: 0;
  -webkit-animation: motionInfinite3 1s 1.5s infinite ease-in-out alternate forwards;
  animation: motionInfinite3 1s 1.5s infinite ease-in-out alternate forwards;
}

.banner .container .banner-bottom3:before {
  content: '';
  width: 80px;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 82%;
  background-image: url("../img/balloon3.png");
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-animation: motionUp3 2s 1 ease-in-out alternate both;
  animation: motionUp3 2s 1 ease-in-out alternate both;
}

.banner .container .banner-bottom4 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 70%;
  bottom: 0;
  -webkit-animation: motionInfinite4 1s 1s infinite ease-in-out alternate forwards;
  animation: motionInfinite4 1s 1s infinite ease-in-out alternate forwards;
}

.banner .container .banner-bottom4:before {
  content: '';
  width: 80px;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 70%;
  background-image: url("../img/balloon4.png");
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-animation: motionUp4 2s 1 ease-in-out alternate both;
  animation: motionUp4 2s 1 ease-in-out alternate both;
}

.banner .container .banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 550px;
  position: relative;
}

.banner .container .banner-content .banner-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 6vh;
  color: #ffffff;
}

.banner .container .banner-content .banner-center img {
  width: 300px;
  height: 120px;
}

.banner .container .banner-content .banner-center .banner-annual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 12px;
  padding-top: 12px;
}

.banner .container .banner-content .banner-center .banner-annual p {
  border: 2px solid #1F499D;
  color: #1F499D;
  font-size: 18px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  padding: 0px 8px;
}

.banner .container .banner-content .banner-center .banner-annual p:last-child {
  background-color: #1F499D;
  color: #ffffff;
  font-weight: 700;
}

.banner .container .banner-content .banner-center h1 {
  font-size: 48px;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 8px #666666;
  line-height: 60px;
  width: 100%;
  text-align: center;
}

.banner .container .banner-content .banner-center h2 {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 8px #666666;
  font-size: 20px;
}

.banner .container .banner-content .banner-center p {
  color: #1F499D;
  font-size: 20px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  margin-top: 12px;
}

.banner .container .banner-content .banner-center p .banner-day {
  width: 24px;
  height: 24px;
  font-size: 14px;
  color: #ffffff;
  background-color: #1F499D;
  border-radius: 50%;
  padding: 2px 6px;
  margin-left: 4px;
}

@media (max-width: 1200px) {
  .banner {
    margin-top: 0;
  }
  .banner .container .banner-bottom3 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 78%;
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .banner .container .banner-bottom3 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 72%;
    bottom: 0;
  }
  .banner .container .banner-bottom4 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 65%;
    bottom: 0;
  }
}

@media (max-width: 576px) {
  .banner .container .banner-bottom {
    display: none;
  }
  .banner .container .banner-bottom2 {
    display: none;
  }
  .banner .container .banner-bottom3 {
    display: none;
  }
  .banner .container .banner-bottom4 {
    display: none;
  }
}

@media (max-width: 400px) {
  .banner .container .banner-content .banner-center img {
    width: 280px;
    height: 95px;
  }
  .banner .container .banner-content .banner-center h1 {
    font-size: 36px;
  }
  .banner .container .banner-content .banner-center h2 {
    font-size: 20px;
  }
}

.banner-side {
  background-image: url("../img/bg3.svg");
  background-position: bottom;
  background-size: cover;
  height: 350px;
}

.banner-side .container .banner-content {
  height: 350px;
}

.main {
  background-image: url("../img/bg2.svg");
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: calc( 100vh - 550px);
}

.main .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 48px 0;
}

.main .main-content .main-text {
  width: 100%;
  padding: 20px 180px;
  padding-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.9);
}

.main .main-content .main-text h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 12px;
  padding-bottom: 8px;
  color: #1F499D;
  position: relative;
}

.main .main-content .main-text a {
  width: 100%;
  cursor: pointer;
}

.main .main-content .main-text a button {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 24px;
  width: 100%;
  padding: 24px 0;
  margin-top: 24px;
  background-color: #E2943B;
  border-radius: 10px;
  border: 0px solid #000000;
  -webkit-box-shadow: 3px 3px 8px #565656;
          box-shadow: 3px 3px 8px #565656;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ffffff;
  font-weight: 700;
  position: relative;
}

.main .main-content .main-text a button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc( 100% - 20px);
  height: calc( 100% - 20px);
  border: 1px dashed rgba(255, 255, 255, 0.9);
}

.main .main-content .main-text a button:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  cursor: pointer;
}

.main .main-content .main-text .main-speakers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: none;
      align-content: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #dddddd;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 16px;
}

.main .main-content .main-text .main-speakers .photo {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.main .main-content .main-text .main-speakers .content {
  width: calc( 100% - 170px);
  padding-left: 20px;
}

.main .main-content .main-text .hotel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: none;
      align-content: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #dddddd;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 16px;
}

.main .main-content .main-text .hotel-item .hotel-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 200px;
}

.main .main-content .main-text .hotel-item .hotel-title h3 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.main .main-content .main-text .hotel-item .hotel-content {
  width: calc( 100% - 221px);
  padding-left: 20px;
  border-left: 1px solid #666666;
}

.main .main-content .main-text .hotel-item .hotel-content a {
  color: #ff0000;
  word-break: break-all;
}

.main .main-content .main-text .focus-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main-content .main-text .focus-content .block {
  padding: 0 8px;
  margin-right: 8px;
  border-radius: 40px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 14px;
}

.main .main-content .main-text .focus-content p {
  margin: 0;
  padding: 0;
  line-height: 2;
}

.main .main-content .main-text .focus-content p a {
  color: #ff0000;
}

.main .main-content .main-text .focus-content .date {
  background-color: #E2943B;
}

.main .main-content .main-text .focus-content .title {
  background-color: #E49DB7;
}

.main .main-content .main-text .mark {
  width: 100%;
  color: #ff0000;
  margin-top: 24px;
}

.main .main-content .main-text .table-program-1 {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #cccccc;
  width: 1300px;
}

.main .main-content .main-text .table-program-1 tr {
  border-bottom: 1px solid #cccccc;
}

.main .main-content .main-text .table-program-1 tr th {
  background-color: #E49DB7;
  color: #ffffff;
}

.main .main-content .main-text .table-program-1 tr td, .main .main-content .main-text .table-program-1 tr th {
  font-size: 14px;
  border-right: 1px solid #cccccc;
  padding: 8px 20px;
  text-align: center;
  padding: 8px 0;
  width: 200px;
}

.main .main-content .main-text .table-program-1 tr td:last-child, .main .main-content .main-text .table-program-1 tr th:last-child {
  border-right: 0px solid #cccccc;
}

.main .main-content .main-text .table-program-1 tr:last-child {
  border-bottom: 0px solid #cccccc;
}

.main .main-content .main-text .table-program-2 {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #cccccc;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main .main-content .main-text .table-program-2 tr {
  border-bottom: 1px solid #cccccc;
}

.main .main-content .main-text .table-program-2 tr th {
  background-color: #E49DB7;
  color: #ffffff;
}

.main .main-content .main-text .table-program-2 tr td, .main .main-content .main-text .table-program-2 tr th {
  font-size: 14px;
  border-right: 1px solid #cccccc;
  padding: 8px 20px;
  text-align: center;
  padding: 8px 0;
}

.main .main-content .main-text .table-program-2 tr td:nth-child(1), .main .main-content .main-text .table-program-2 tr th:nth-child(1) {
  width: 100px;
}

.main .main-content .main-text .table-program-2 tr td:nth-child(2), .main .main-content .main-text .table-program-2 tr th:nth-child(2) {
  width: 600px;
}

.main .main-content .main-text .table-program-2 tr td:last-child, .main .main-content .main-text .table-program-2 tr th:last-child {
  border-right: 0px solid #cccccc;
}

.main .main-content .main-text .table-program-2 tr:last-child {
  border-bottom: 0px solid #cccccc;
}

.main .main-content .main-text .table-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: none;
      align-content: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .main-content .main-text .table-center .organizer {
  background-color: #1F499D;
  color: #ffffff;
  text-align: center;
  width: 100%;
  font-size: 16px;
  padding: 4px;
}

.main .main-content .main-text .table-center .table-committee {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #cccccc;
}

.main .main-content .main-text .table-center .table-committee tr {
  border-bottom: 1px solid #cccccc;
}

.main .main-content .main-text .table-center .table-committee tr th {
  background-color: #E49DB7;
  color: #ffffff;
}

.main .main-content .main-text .table-center .table-committee tr td, .main .main-content .main-text .table-center .table-committee tr th {
  font-size: 14px;
  border-right: 1px solid #cccccc;
  padding: 8px 20px;
  text-align: center;
  width: 50%;
}

.main .main-content .main-text .table-center .table-committee tr td:last-child, .main .main-content .main-text .table-center .table-committee tr th:last-child {
  border-right: 0px solid #cccccc;
}

.main .main-content .main-text .table-center .table-committee tr:last-child {
  border-bottom: 0px solid #cccccc;
}

.main .main-content .main-text .table-center .table-program {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #cccccc;
}

.main .main-content .main-text .table-center .table-program tr {
  border-bottom: 1px solid #cccccc;
}

.main .main-content .main-text .table-center .table-program tr th {
  background-color: #E49DB7;
  color: #ffffff;
}

.main .main-content .main-text .table-center .table-program tr td, .main .main-content .main-text .table-center .table-program tr th {
  font-size: 14px;
  border-right: 1px solid #cccccc;
  padding: 8px 20px;
  text-align: center;
}

.main .main-content .main-text .table-center .table-program tr td:nth-child(1), .main .main-content .main-text .table-center .table-program tr th:nth-child(1) {
  width: 100px;
}

.main .main-content .main-text .table-center .table-program tr td:last-child, .main .main-content .main-text .table-center .table-program tr th:last-child {
  border-right: 0px solid #cccccc;
}

.main .main-content .main-text .table-center .table-program tr:last-child {
  border-bottom: 0px solid #cccccc;
}

.main .main-content .main-text .table-center .table-speakers {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #cccccc;
}

.main .main-content .main-text .table-center .table-speakers tr {
  border-bottom: 1px solid #cccccc;
}

.main .main-content .main-text .table-center .table-speakers tr th {
  background-color: #E49DB7;
  color: #ffffff;
}

.main .main-content .main-text .table-center .table-speakers tr td, .main .main-content .main-text .table-center .table-speakers tr th {
  font-size: 14px;
  border-right: 1px solid #cccccc;
  padding: 8px 20px;
  text-align: center;
}

.main .main-content .main-text .table-center .table-speakers tr td:nth-child(1), .main .main-content .main-text .table-center .table-speakers tr th:nth-child(1) {
  width: 50px;
}

.main .main-content .main-text .table-center .table-speakers tr td:nth-child(2), .main .main-content .main-text .table-center .table-speakers tr th:nth-child(2) {
  width: 150px;
}

.main .main-content .main-text .table-center .table-speakers tr td:last-child, .main .main-content .main-text .table-center .table-speakers tr th:last-child {
  border-right: 0px solid #cccccc;
}

.main .main-content .main-text .table-center .table-speakers tr:last-child {
  border-bottom: 0px solid #cccccc;
}

.main .main-content .main-text .table-center .table-registration {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #cccccc;
}

.main .main-content .main-text .table-center .table-registration tr {
  border-bottom: 1px solid #cccccc;
}

.main .main-content .main-text .table-center .table-registration tr th {
  background-color: #E49DB7;
  color: #ffffff;
}

.main .main-content .main-text .table-center .table-registration tr td, .main .main-content .main-text .table-center .table-registration tr th {
  font-size: 14px;
  border-right: 1px solid #cccccc;
  padding: 8px 20px;
  text-align: center;
  width: 18%;
}

.main .main-content .main-text .table-center .table-registration tr td:last-child, .main .main-content .main-text .table-center .table-registration tr th:last-child {
  border-right: 0px solid #cccccc;
  width: 200px;
}

.main .main-content .main-text .table-center .table-registration tr:last-child {
  border-bottom: 0px solid #cccccc;
}

.main .main-content .main-text .table-center .table-registration-mobile {
  display: none;
}

.main .main-content .main-text .table-center .table-registration-mobile .table-item {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  margin-bottom: 24px;
}

.main .main-content .main-text .table-center .table-registration-mobile .table-item p {
  text-align: center;
  padding: 4px;
}

.main .main-content .main-text .table-center .table-registration-mobile .table-item p span {
  color: #ff0000;
}

.main .main-content .main-text .table-center .table-registration-mobile .table-item .table-item-title {
  background-color: #E49DB7;
  color: #ffffff;
}

.main .main-content .main-text .table-center .table-registration-mobile .table-item .table-item-title-main {
  background-color: #1F499D;
  color: #ffffff;
}

.main .main-content .main-text:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main .main-content .main-text:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main .main-content .main-text-lg {
  padding-left: 20px;
  padding-right: 20px;
}

.main .main-content .main-text-lg .program-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 12px;
}

.main .main-content .main-text-lg .program-top a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #ff0000;
  margin: 4px 0;
}

.main .main-content .main-text-lg .program-top a p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main .main-content .main-text-lg .program-top .program-select {
  font-size: 16px;
  border: 1.5px solid #1F499D;
  border-radius: 6px;
  padding: 6px;
  margin: 4px 0;
  margin-left: 20px;
  width: 200px;
}

.main .main-content .main-text-lg .program-top .program-select:focus {
  outline: none;
}

@media (max-width: 768px) {
  .main .main-content .main-text {
    padding: 20px 40px;
  }
  .main .main-content .main-text .table-center .table-registration {
    display: none;
  }
  .main .main-content .main-text .table-center .table-registration-mobile {
    display: block;
  }
}

@media (max-width: 576px) {
  .main .main-content .main-text {
    padding: 20px;
  }
  .main .main-content .main-text .focus-content {
    margin-bottom: 16px;
  }
  .main .main-content .main-text .focus-content p {
    width: 100%;
  }
  .main .main-content .main-text .main-speakers .content {
    width: 100%;
    padding-left: 0;
  }
  .main .main-content .main-text .hotel-item .hotel-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .main .main-content .main-text .hotel-item .hotel-content {
    width: 100%;
    padding-left: 0;
    padding-top: 12px;
    border-left: 0px solid #666666;
    border-top: 1px solid #666666;
  }
}

#registration .main-content .main-text {
  padding: 20px 40px;
}

.top-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 2px solid #565656;
  -webkit-box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.9);
}

.top-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: none;
      flex-wrap: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.top-btn a .arrow {
  width: 8px;
  height: 32px;
  background-color: #565656;
  position: relative;
  border-radius: 40px;
}

.top-btn a .arrow:before {
  content: '';
  position: absolute;
  top: 0;
  left: -8px;
  width: 8px;
  height: 24px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #565656;
  border-radius: 40px;
}

.top-btn a .arrow:after {
  content: '';
  position: absolute;
  top: 0;
  left: 8px;
  width: 8px;
  height: 24px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #565656;
  border-radius: 40px;
}

.top-btn a:hover {
  background-color: #dddddd;
}

.home-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 80px;
  right: 20px;
  border: 2px solid #565656;
  -webkit-box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.9);
}

.home-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: none;
      flex-wrap: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-btn a:hover {
  background-color: #dddddd;
}

footer {
  background-color: #2B5334;
  color: #ffffff;
  padding: 12px 0;
}

footer .container .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

footer .container .footer-content p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  align-content: center;
  padding: 0;
  text-align: center;
  font-size: 14px;
}

footer .container .footer-content .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 4px 12px;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .container .footer-content .contact:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

footer .container .footer-content .copyright {
  width: 100%;
  margin: 0;
  border-top: 0.5px solid rgba(255, 255, 255, 0.3);
  padding-top: 4px;
  margin-top: 4px;
}
/*# sourceMappingURL=style.css.map */